# Python
*.pyc
*.pyo
*.pyd
__pycache__/
env/
venv/
*.env
*.egg-info/
dist/
build/

# C# / .NET
.vs/
.vscode/
.idea/
bin/
obj/
*.user
*.userosscache
*.suo
*.sln.docstates
project.lock.json
project.fragment.lock.json
*.nupkg
.dnu/
.dnx/

# Java
*.class
*.jar
*.war
*.ear
*.log
*.swp
*.bak
target/
bin/
*.iml
.idea/

# C++
*.out
*.o
*.obj
*.exe
*.dll
*.dSYM/
*.a
*.so
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
*.gcov
*.gcda
*.gcno

# Next.js
node_modules/
.next/
out/
*.log
*.env
*.env.local
*.env.development
*.env.test
*.env.production
*.npmrc
*.yarnrc
*.pnp.*
.vscode/
.idea/

# Node.js / TypeScript
node_modules/
dist/
*.log
*.tsbuildinfo
*.env
*.npmrc
*.yarnrc
*.pnp.*
.vscode/
.idea/
